@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');

@import url('https://fonts.googleapis.com/css?family=Satisfy');
body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
}
.navbar{
    height: 6vw;
    width: 100%;
    background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
    border-top: .1vw solid black;
    border-bottom: .01vw solid black;
}
.navbar1{
    float: left;
    margin: .3vw 0 0 10vw;
}
.navbar1 a{
    text-decoration: none;
    font-size: 3.5vw;
    display: flex;
    margin: .6vw 0 0 0;
    font-family: 'Satisfy', cursive;
}
.codetrooping{
    width: 4.7vw;
    height:4.7vw ;
    background-size: contain;
    margin: 0 .4vw;
}
.rightnavbar{
    border: 0;
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
    border-radius: 1.1vw;
    float: right;
    margin: 1.1vw 4vw 0 0;
}
.rightnavbar i{
    margin: 0;
    width: 1.8vw;
    overflow: hidden;
    padding: .3vw .6vw .17vw .8vw;
    font-size: 2.1vw;
    border: 0 solid black;
    border-radius: 1.1vw;
    text-decoration: none;
    transition: .3s;
    white-space: nowrap;
}
.rightnavbar i:hover{
    width: 10vw;
    transition: .5s;
}

.rightnavbar a:nth-child(1){
    background: transparent;
    color: #3b5998;
    border: 0 solid black;
    border-radius: 1.1vw;
    
}
.rightnavbar a:nth-child(2){
    background: transparent;
    color: #BD081C;
    border: 0 solid black;
    border-radius: 1.1vw;
}
.rightnavbar a:nth-child(3){
    background: transparent;
    color: #c71610;
    border: 0 solid black;
    border-radius: 1.1vw;
}
.rightnavbar a:nth-child(4){
    background: transparent;
    color: #007bb6;
    border: 0 solid black;
    border-radius: 1.1vw;
}/*
.leftnavbar{
    width: 70%;
    text-align: center;
}
.leftnavbar i{
    margin: 2.35vw 1vw 2.35vw 1vw;
    font-size: 2.1vw;
    border: 0 solid black;
    background-image: linear-gradient(-225deg, #FF057C 0%, #8D0B93 50%, #321575 100%);
    border-radius: 1.1vw;
    text-decoration: none;
    transition: .5s;
    
}
.leftnavbar i:hover{
    width: 18vw;
    transition: .5s;
}
.leftnavbar a{
    transition: .5s;
    white-space: nowrap;
}
.contentdown{
    float: left;
    background: black;
    margin: 2vw 1vw 2vw 1vw;
    border-right: .6vw solid yellow;
    border-radius: 1.1vw;
}
.contentdown i{
    margin: 0;
    width: 10vw;
    display: list-item;
    overflow: hidden;
    padding: 1vw .6vw 1vw .8vw;
    font-size: 1.3vw;
    border-right: 0 solid yellow;
    border-radius: 1.1vw;
    text-decoration: none;
    
}
.contentdown i:hover{
    width: 70vw;
    height: 17vw;
    transition: .5s;
    font-size: 1.5vw;
    visibility: visible;
    
}
.contentdown a{
    color: white;
    
    white-space: nowrap;
}
.contentright{
    
}
.contentright i{
    font-size: 1.7vw;
    text-decoration: none;
    color:white;
    width: 2.3vw;
    overflow: hidden;
    white-space: nowrap;
    background: black;
    border-right: .1vw solid greenyellow;
    height: 40vw;
    transition: .7s;
}
.contentright i:hover{
    width: 70vw;
    text-align: center;
    transition: .5s;
}
.contentright ul{
    position: absolute;
    border-left: .4vw solid greenyellow;
    border-top-right-radius: 1.1vw;
    border-bottom-right-radius: 1.1vw;
    border-right: .7vw solid greenyellow;
}
.contentright ul li{
    position: relative;
    float: right;
    list-style: none;
}
.contentright ul li:nth-child(1){
    float: right;
    width: 70vw;
}


.sec2{
    height: 60vw;
}*/
input[type=text], select, textarea {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container{
    text-align: center;
    overflow: scroll;
    height: 30vw;
    border-radius: 5px;
    background: transparent;
    padding: 1vw;
}




.sec2{
    width: 100%;
    height: 42vw;
}
.sec5{
    width: 100%;
    
}/*
.right1{
    width: 6vw;
    height: 40vw;
    overflow: hidden;
    border: .5vw solid black;
    transition: .5s;
    
}
.right1:hover{
    width: 50vw;
    height: 40vw;
    overflow: hidden;
}
*/

.contentright ul{
    border-right: .4vw solid black;
    
    float: right;
    padding: 0;
    margin: 2vw 1vw 0 0;
}
.contentright li{
    width: 4vw;
    height: 38vw;
    overflow: hidden;
    float: right;
    border-left: .1vw solid black;
    border-top-left-radius: .6vw;
    border-bottom-left-radius: .6vw;
    transition: .5s;
}
.contentright li:hover{
    width: 70vw;
    transition: .8s;
    text-align: center;
}
.right1{
    padding: 4.1vw;
    font-size: 1.7vw;
    
}
.contentright li:nth-child(1){
    color: white;
    background: #3b5998;
}
.contentright li:nth-child(2){
    background: #0077B5;
    color: white;
}
.contentright li:nth-child(3){
    background: #0084b4;
    color: white;
}
.contentright li i{
    font-size: 2.4vw;
    overflow: hidden;
    white-space: nowrap;
    padding: .4vw 0 0 .7vw;
}

.leftnavbar ul{
    border-left: .4vw solid black;
    
    float: left;
    padding: 0;
    margin: 2vw 0 0 1vw;
}
.leftnavbar li{
    width: 4vw;
    height: 38vw;
    overflow: hidden;
    float: left;
    border-right: .1vw solid black;
    border-top-right-radius: .6vw;
    border-bottom-right-radius: .6vw;
    transition: .5s;
}
.leftnavbar li:hover{
    width: 70vw;
    transition: .8s;
    text-align: center;
}
.leftnavbar li i{
    font-size: 2.4vw;
    padding: .4vw .4vw 0 .7vw;
    overflow: hidden;
    white-space: nowrap;
}
.left1{
    padding: 4.1vw;
    font-size: 1.7vw;
    
}
.leftnavbar li:nth-child(1){
    background: #3b5998;
    color: white;
}
.leftnavbar li:nth-child(2){
    background: #0077B5;
    color: white;
}
.leftnavbar li:nth-child(3){
    background: #0084b4;
    color: white;
}






















.footer{
    
    height: 5.2vw;
    
    background: rgba(0,0,0,0.3)
}
.joinus{
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    float: left;
    width: 18vw;
    margin: 1vw 0 1vw 5vw;
    border: 0 solid white;
    border-radius: .9vw;
    padding:.66vw;
    text-align: center;
    transition: .5s;
}
.joinus:hover{
    width: 21vw;
    margin: 1vw 0 1vw 3.5vw;
    padding: .66vw;
}
.joinus a{
    text-decoration: none;
    font-size: 1.4vw;
    color: black;
}
.copyright{
    
    float: left;
    text-align: center;
    width: 21vw;
    margin: 0 0 0 8vw;
    padding: 1.7vw 0 1.7vw 0;
}
.copyright a{
    background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%); 
    border: .1vw solid white;
    border-radius: .8vw;
    padding: .5vw 5vw .5vw 5vw;
    font-size: 1.4vw;
    color: #004D40;
}
.bottomnavbar{
    width: auto;
    float: right;
    margin: 1.2vw 3vw 1.2vw 0;
    border-right: 3vw solid greenyellow;
}
.bottomnavbar i{
    margin: 0;
    width: 1.7vw;
    height: auto;
    overflow: hidden;
    padding: .6vw .6vw .4vw .8vw;
    font-size: 1.7vw;
    border-left: .1vw solid greenyellow;
    border-top-left-radius: .7vw;
    border-bottom-left-radius: .7vw;
    text-decoration: none;
    transition: .7s;
    
}
.bottomnavbar i:hover{
    width: 14vw;
    
}
.bottomnavbar a{
    color: white;
    transition: .5s;
    white-space: nowrap;
}
.bottomnavbar a:nth-child(1){
    color: #3b5998;
    border: 0 solid black;
    border-radius: 1.1vw;
    
}
.bottomnavbar a:nth-child(2){
    background: transparent;
    color: 	#aa2200;
    border: 0 solid black;
    border-radius: 1.1vw;
}
.bottomnavbar a:nth-child(3){
    background: transparent;
    color: #c13584;
    border: 0 solid black;
    border-radius: 1.1vw;
}
.bottomnavbar a:nth-child(4){
    background: transparent;
    color: #0084b4;
    border: 0 solid black;
    border-radius: 1.1vw;
}
.bottomnavbar a:nth-child(5){
    background: transparent;
    color: 	#ff5d5d;
    border: 0 solid black;
    border-radius: 1.1vw;
}
.bottomnavbar a:nth-child(6){
    background: transparent;
    color: #0077B5;
    border: 0 solid black;
    border-radius: 1.1vw;
}
.bottomnavbar a:nth-child(7){
    width: 10vw;
    background: transparent;
    color: palegreen;
    border: 0 solid black;
    border-radius: 1.1vw;
}


